.demo-card-wide{
  height: 245px;
}

.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background-size: cover;
  background-position: center;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

h2.mdl-card__title-text{
  text-shadow: 0px 0px 6px #000000;
}

.col-md-4{
  padding: 15px;
  justify-content: center;
  display: flex;
}

a.no-underline{
  text-decoration: none;
  width: 100%;
}

.panel-left{
    position: fixed;
}

.content-right{
    margin-left: 215px;
    overflow-y: auto;
    position: absolute;
    top: 60px;
    bottom: 0;
}