.demo-card-wide{
  height: 245px;
}

.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background-size: cover;
  background-position: center;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

h2.mdl-card__title-text{
  text-shadow: -2px -2px 1px rgba(0,0,0,0.5), 2px 2px 1px rgba(0,0,0,0.5), -2px 2px 1px rgba(0,0,0,0.5), 2px -2px 1px rgba(0,0,0,0.5);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow: hidden;
}

.col-md-4{
  padding: 15px;
  justify-content: center;
  display: flex;
}

a.no-underline{
  text-decoration: none;
  width: 100%;
}

.panel-left{
    position: fixed;
    width: 250px;
}

.panel-left label{
  display: block;
}

.close{
  height: 0;
  overflow: hidden;
  margin-left: 26px;
  opacity: 0.8;
}

.content-right{
    margin-left: 250px;
    overflow-y: auto;
    position: absolute;
    top: 60px;
    bottom: 0;
    right: 0;
    left: 0;
}

.filter_group{
  display: inline-block;
  margin-top: 10px;
}

#end{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

div.header_search h2{
  margin-left: 185px;
  display: inline-block;
}

div.header_search h3{
  margin-left: 25px;
  display: inline-block;
}

.mdl-switch.is-checked .mdl-switch__ripple-container {
    left: 2px;
}

.mdl-switch__ripple-container {
    position: absolute;
    z-index: 2;
    top: -12px;
    left: -14px;
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(circle,#fff,#000);
    transition-duration: .4s;
    transition-timing-function: step-end;
    transition-property: left;
}

mdl-switch{
  font-weight: bold;
}