.mdl-grid{
    justify-content: center;
}

label{
    text-transform: uppercase;
    font-size: 1.0em;
    font-weight: 600;
    margin: 16px 0;
}

.mdl-button--file input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 4;
}

.mdl-textfield--file .mdl-textfield__input {
  box-sizing: border-box;
  width: calc(100% - 32px);
}

.image_information .mdl-textfield.mdl-js-textfield{
    width: 100%;
}

.mdl-textfield--file .mdl-button--file {
  right: 0;
}

.center{
    display: block;
    margin: 0 auto;
}

.pointer{
    cursor: pointer;
}

img{
    max-width: 100%;
}

.col-md-10.col-md-offset-1 .col-md-6:nth-child(odd){
    padding-left: 0;
}

.col-md-10.col-md-offset-1 .col-md-6:nth-child(even){
    padding-right: 0;
}